<section>
  <h2>Add New Game</h2>
  <form action="/new/game" method="POST" id="new-game-form">
    <p>
      <label for="game-name">Name: </label>
      <input type="text" id="game-name" name="gameName" placeholder="Grand Theft Auto VI ..." required>
    </p>
    <p>
      <label for="logo-url">Logo Url: </label>
      <input type="text" id="logo-url" name="gameLogoUrl" placeholder="https://imghost.com/game-logo.jpg ..." required>
    </p>
    <p>
      <label for="coverimg-url">Cover Image Url: </label>
      <input type="text" id="coverimg-url" name="gameCoverImgUrl" placeholder="https://imghost.com/game-cover.jpg ...">
    </p>
    <p>
      <label for="game-developers">Developers : (Can't find one? Register a new one <a href="/new/developer">here.</a>)</label>
      <select id="game-developers" name="gameDevelopers" multiple required>
        <% if (locals.developers && developers.length > 0) { %>
          <option value="" disabled>-- You can choose multiple --</option>
          <hr />
          <% developers.forEach((developer) => { %>
            <option value=<%= developer.id %>><%= developer.name %></option>
          <% }); %>
        <% } else { %>
          <option value="" disabled>no developer found</option>
        <% }; %>
      </select>
    </p>
    <p>
      <label for="game-categories">Categories: (Of different category? Create a new one <a href="/new/category">here.</a>)</label>
      <select id="game-categories" name="gameCategories" multiple required>
        <% if (locals.categories && categories.length > 0) { %>
          <option value="" disabled>-- You can choose multiple --</option>
          <hr />
          <% categories.forEach((category) => { %>
            <option value=<%= category.id %>><%= category.name %></option>
          <% }); %>
        <% } else { %>
          <option value="" disabled>no developer found</option>
        <% }; %>
      </select>
    </p>
    <!-- <p> -->
    <!--   <label for="game-platforms">Platforms (separated by commas): </label> -->
    <!--   <input type="text" id="game-platforms" name="gamePlatforms" placeholder="PC, Console, Android ..." required> -->
    <!-- </p> -->
    <p>
      <label for="game-details">Details :</label>
      <textarea id="game-details" name="gameDetails" placeholder="This game is awesome ..." required></textarea>
    </p>
    <p>
      <label for="game-price">Price (Dollars USA): </label>
      <input type="text" id="game-price" name="gamePrice" placeholder="3.99" required>
    </p>
    <button type="submit">Add Game</button>
  </form>
</section>
