<section class="developers">
  <h2 class="developers__title"><%= title %></h2>
  <ol class="developers__list">
    <% developers.forEach((developer) => { %>
      <li><a href="/developer/<%= developer.id %>"><%= developer.name %></a></li>
    <% }); %>
  </ol>
</section>
