<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= name %></title>
  </head>
  <body>
    <main>
      <h1><%= statusCode %></h1>
      <p><%= name %>: <%= message %></p>
      <a href="/">Return to Homepage</a>
    </main>
  </body>
</html>
