<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <meta name="description" content="Inventory to manage you favorite games" />
     
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:wght@600;700;900&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="/styles/root.css" />
    <% if (locals.styles) { %>
    <link rel="stylesheet" href="<%= `/styles/${styles}.css` %>">
    <% }; %>

    <!-- js -->
    <script src="/scripts/root.js" defer></script>
  </head>
  <body>
    <header class="header">
      <h1 class="header__title"><a href="/">Games Inventory</a></h1>
      <button 
          type="button"
          id="btn-hamburger"
          class="btn btn--hamburger" 
          aria-controls="sidebar" 
          aria-expanded="false"
          title="open menu"
        >
          <span class="sr-only">Open menu</span>
        </button>
    </header>

    <div class="nav-main-wrapper">
      <%- include("./partials/sidebar.ejs") %>
      <main>
        <% if (locals.mainView) { %>
          <%- include(`./${mainView}`) %>
        <% }; %>
      </main>
    </div>

    <footer>Made by Snehamoy</footer>
  </body>
</html>
