<section class="success">
  <img src="/assets/images/celebrating-robot.png" alt="success" class="success__img">
  <h2 class="success__title"><%= title %></h2>
  <p><%= message %></p>
  <p>
    <a href="<%= link %>" class="success__btn-return"><%= linkText %></a>
  </p>
</section>
