<section class="success">
  <img src="/assets/images/celebrating-robot.png" alt="success" class="success__img">
  <h2 class="success__title"><%= title %></h2>
  <p><%= message %></p>
  <p>
    <a href="/" class="success__btn-return">Go to Homepage</a>
  </p>
</section>
