@import "./partials/games.css";

.developer {
  position: relative;
}

.developer__header,
.developer__body {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.developer__coverimg-wrapper {
  position: relative;
  z-index: -1;
}

.developer__coverimg-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--clr-neutral-700) 70%);
  position: absolute;
  top: 0;
  left: 0;
}

.developer__coverimg {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
}

.developer__header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2em;
  margin-top: -50%;
  position: relative;
  isolation: isolate;
}

.developer__logo {
  width: 6.25rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.5);
}

.developer__title {
  font-size: var(--fs-700);
  line-height: 1.2;
  text-shadow: 2px 5px 5px hsla(0, 0%, 0%, 1);
}

.developer__body {
  padding: 0 1em;
}

.developer__body > * + * {
  margin-top: 1rem;
}

.developer__controlls {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  padding: 1em;
  position: absolute;
  top: 0;
  right: 0;
}

.developer__controlls .btn--edit,
.developer__controlls .btn--delete {
  font-size: 1.5rem;
}

.developer .games-container {
  margin-top: 2rem;
}

/* screens */

@media (min-width: 40em) {
  .developer__body {
    font-size: var(--fs-600);
  }
}
