:root {
  --clr-neutral-700: hsl(0, 0%, 0%);
  --clr-neutral-600: hsl(0, 0%, 10%);
  --clr-neutral-200: hsl(0, 0%, 90%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --clr-accent-400: hsl(0, 100%, 50%);

  --ff-title: "Poppins", sans-serif;
  --ff-paragraph: "Crimson Text", serif;

  --fs-900: 1.75rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-400: 1rem;
  --fs-200: 0.875rem;
  --fs-100: 0.75rem;

  --fw-black: 900;
  --fw-bold: 700;
  --fw-regular: 400;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button {
  background-color: transparent;
}

/* to enable percentage based height */
html,
body {
  height: 100%;
}

/* STYLINGS */
body {
  font-size: var(--fs-400);
  font-family: var(--ff-paragraph);
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-200);
}

a {
  color: var(--clr-accent-400);
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.05em;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 2em;
  background-color: var(--clr-neutral-600);
}

.header__title {
  font-family: var(--ff-title);
  font-size: var(--fs-900);
  font-weight: var(--fw-black);
  text-transform: uppercase;
  line-height: 1.1;
  color: var(--clr-neutral-100);
}

.header__title > a {
  text-decoration: none;
  color: inherit;
  transition: color 100ms ease-in;
}

.header__title > a:hover {
  color: var(--clr-accent-400);
}

.nav-main-wrapper {
  min-height: 100%;
}

.sidebar {
  border: 1px solid var(--clr-neutral-600);
  border-bottom: 5px solid var(--clr-accent-400);
}

.sidebar a {
  color: var(--clr-neutral-200);
  text-decoration: none;
  transition: color 100ms ease-in;
}

.sidebar a:hover {
  color: var(--clr-accent-400);
}

.sidebar__section-header {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 2em;
}

.sidebar__section-title {
  font-family: var(--ff-title);
  color: var(--clr-neutral-100);
}

.sidebar__section-header > .btn {
  --size: 1.25em;
}

.sidebar__list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 1em;
  outline: 1px solid var(--clr-neutral-600);
}

.sidebar__list-item > .text-wrapper {
  display: flex;
}

.sidebar__list-item > .controlls-wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}

.sidebar .btn-logout {
  border: none;
  color: var(--clr-neutral-200);
}

.sidebar .btn-logout:hover {
  cursor: pointer;
  color: var(--clr-accent-400);
}

.sidebar.hidden {
  display: none;
}

footer {
  padding: 2em;
  text-align: center;
  border: 1px solid var(--clr-neutral-600);
}

/* UTILITY CLASSES */
.title {
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-100);
}

.title--primary {
  font-size: var(--fs-600);
  text-transform: uppercase;
  padding: 1em;
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  background: transparent;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.btn--hamburger {
  --size: var(--fs-900);
  --line-width: 0.25rem;
  width: var(--size);
  height: var(--size);
  border-top: var(--line-width) solid var(--clr-neutral-100);
  border-bottom: var(--line-width) solid var(--clr-neutral-100);
  position: relative;
  transition: 200ms border ease-in;
}

.btn--hamburger::before,
.btn--hamburger::after {
  content: "";
  width: 100%;
  height: var(--line-width);
  background-color: var(--clr-neutral-100);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 100ms ease-in;
}

.btn--hamburger[aria-expanded="true"] {
  border: none;
}

.btn--hamburger[aria-expanded="true"]::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn--hamburger[aria-expanded="true"]::after {
  transform: translate(-50%, -50%) rotate(135deg);
}

.btn--add,
.btn--edit,
.btn--delete {
  --size: 1em;
  width: var(--size);
  height: var(--size);
  background-repeat: no-repeat;
  background-size: contain;
}

.btn--add:active,
.btn--edit:active,
.btn--delete:active {
  transform: scale(95%);
}

.btn--add {
  background-image: url("../assets/icons/add_icon.svg");
  border: 1px solid var(--clr-neutral-100);
  border-radius: 50%;
}
.btn--edit {
  background-image: url("../assets/icons/edit_icon.svg");
}

.btn--delete {
  background-image: url("../assets/icons/delete_icon.svg");
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* screens */
@media (min-width: 65em) {
  body {
    max-width: 100rem;
    margin: 0 auto;
  }

  .nav-main-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .sidebar {
    border-bottom: none;
  }

  .btn--hamburger {
    display: none;
  }

  .sidebar.hidden {
    display: block;
  }
}
